<div class="container-fluid">
    <h5 class="text-center">List of Bookmarks by {{freelancerName}}</h5>
    <table class="table table-striped table-hover table-primary text-center table-responsive">
        <thead>
            <tr>
                <th>Bookmard Id</th>
                <th>Job Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let job of bookmarksList">
                <td>{{job.id}}</td>
                <td>{{job.jobName}}</td>
                <td><button class="btn btn-warning" (click)="applyToJob(job.jobId)">Apply to Job</button></td>
            </tr>
        </tbody>
    </table>
</div>