<div class="container-fluid">
    <h3 class="text-center">Freelancers list</h3>
    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>User Name</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let freelancer of freelancersList">
                <td>{{freelancer.id}}</td>
                <td>{{freelancer.firstName}}</td>
                <td>{{freelancer.lastName}}</td>
                <td>{{freelancer.userName}}</td>
                <td><button class="btn btn-success" (click)="addBookmark(freelancer.id)">Bookmark</button></td>
                <td><button class="btn btn-warning">Add Feedback</button></td>
            </tr>
        </tbody>
    </table>

</div>