<div class="container-fluid">
    <div class="row mb-5">
        <div class="col-3"></div>
        <div class="col-6">
            <div id="top-recruiters">
                <h4 class="display-4 text-center">Our Top Recruiters</h4>
            </div>
            <div id="topRecruiters" class="carousel slide carousel-fade carousel-dark" data-bs-ride="carousel"
                style=" width:100%; height: 500px !important;">
                <div class="carousel-inner">
                    <div class="carousel-item active mx-5 my-5">
                        <img src="https://logodix.com/logo/1285438.jpg" class="d-block w-50 m-5" alt="...">
                    </div>
                    <div class="carousel-item mx-5 my-5">
                        <img src="https://image.freepik.com/free-vector/generic-cube-logo_9569-169.jpg"
                            class="d-block w-50 m-5" alt="...">
                    </div>
                    <div class="carousel-item mx-5 my-5">
                        <img src="https://www.logodesign.net/logo/leaf-with-letter-g-4954ld.png"
                            class="d-block w-50 m-5" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#topRecruiters"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#topRecruiters"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    <div id="testimonials">
        <h4 class="display-4 text-center">Testimonials</h4>
        <div id="carouselTestimonials" class="carousel carousel-test slide carousel-dark" data-bs-touch="false"
            data-bs-interval="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card mb-3 ml-5" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="https://st2.depositphotos.com/4111759/12123/v/600/depositphotos_121233300-stock-illustration-female-default-avatar-gray-profile.jpg"
                                    class="card-img" alt="Jean Doe">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Jean Doe</h5>
                                    <p class="card-text">Mock Testimonial 1</p>
                                    <p class="card-text"><small class="text-muted">Batch of 2018</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="https://prospectdirect.com/wpstagemct/wp-content/uploads/2017/05/generic-profile-photo-3.jpg"
                                    class="card-img" alt="Sam Smith">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Sam Smith</h5>
                                    <p class="card-text">Mock Testimonial 2</p>
                                    <p class="card-text"><small class="text-muted">Batch of 2019</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card mb-3 ml-5" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="https://st2.depositphotos.com/4111759/12123/v/600/depositphotos_121233300-stock-illustration-female-default-avatar-gray-profile.jpg"
                                    class="card-img" alt="Jean Doe">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Angelina Joseph</h5>
                                    <p class="card-text">Mock Testimonial 3</p>
                                    <p class="card-text"><small class="text-muted">Batch of 2020</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselTestimonials"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselTestimonials"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>