<div class="container-fluid about-section">
    <div class="text-center">
        <h1>About Us</h1>
        <h4>We are group of techies currently working as Interns at Capgemini India</h4>
    </div>
    <hr>

    <h2 style="text-align:center">Our Team</h2>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <img src="https://cdn.pixabay.com/photo/2014/04/02/10/25/man-303792_1280.png" alt="Ritwij"
                    style="width:70%">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Ritwij Raj</h5>
                    <p><b>Analyst A4</b></p>
                    <p> Mobile No. - 9546978579</p>
                    <p> Email Id - ritwijr@gmail.com</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <img src="https://cdn.pixabay.com/photo/2014/04/02/10/25/man-303792_1280.png" alt="Vishnu"
                    style="width:70%">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Vishnuvardhan Reddy</h5>
                    <p><b>Analyst A4</b></p>
                    <p> Mobile No. - 9182604570</p>
                    <p> Email Id - thisisvvr@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <img src="https://cdn.pixabay.com/photo/2014/04/02/10/25/man-303792_1280.png" alt="Aditya"
                    style="width:70%">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Aditya Kangokar</h5>
                    <p><b>Analyst A4</b></p>
                    <p> Mobile No. - 9632775875</p>
                    <p> Email Id - adityakangokar24@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <img src="https://cdn.pixabay.com/photo/2014/04/02/10/25/man-303792_1280.png" alt="Akash"
                    style="width:70%">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Akash Sunil</h5>
                    <p><b>Analyst A4</b></p>
                    <p> Mobile No. - 9538212329</p>
                    <p> Email Id - akashsunil38@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <img src="https://cdn.pixabay.com/photo/2014/04/02/10/25/man-303792_1280.png" alt="Sandeep"
                    style="width:70%">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Sandeep Uppugalla</h5>
                    <p><b>Analyst A4</b></p>
                    <p> Mobile No. - 9502984810</p>
                    <p> Email Id - Sandeepuppugalla@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <img src="https://cdn.pixabay.com/photo/2014/04/02/10/25/man-303792_1280.png" alt="Amruth"
                    style="width:70%">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Amruth N</h5>
                    <p><b>Analyst A4</b></p>
                    <p> Mobile No. - 7760429619</p>
                    <p> Email Id - amruth2603@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <img src="https://cdn.pixabay.com/photo/2014/04/02/10/25/man-303792_1280.png" alt="Siddhesh"
                    style="width:70%">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Siddhesh</h5>
                    <p><b>Analyst A4</b></p>
                    <p> Mobile No. - 9483093761</p>
                    <p> Email Id - siddheshshiriyara@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</div>