<div class="container-fluid">
    <div class="row g-3 text-center mt-3">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card border-5 shadow bg-light bg-gradient">
                <h5 class="card-title mt-3"><b>Skills List</b></h5>
                <div class="card-body">
                    <table class="table table-hover table-striped table-success table-bordered">
                        <thead>
                            <tr>
                                <th>Unique Id</th>
                                <th>Skill Name</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let skill of skillsList">
                                <td>{{skill.id}}</td>
                                <td>{{skill.name}}</td>
                                <td>{{skill.description}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row text-center mt-3">
        <div class="col-4"></div>
        <div class="col-4">
            <button class="btn btn-outline-danger shadow" (click)="goBack()">Go Back</button>
        </div>
        <div class="col-4"></div>
    </div>
</div>