<div>
    <div class="container-fluid">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Bookmark Freelancers</h5>
                <p class="card-text">Manage your Bookmarked Freelancers</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a routerLink="bmark/freelancer/add">Bookmark a Freelancer</a></li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
</div>