<div class="container-fluid overflow-hidden">
    <div class="row mt-4">
        <div class="col p-3">
            <div class="card shadow border-5 rounded-3 text-center">
                <div class="card-body">
                    <h5 class="card-title">Bookmark a Freelancer</h5>
                    <button routerLink="listFreelancers" class="btn btn-success">List Freelancers</button>
                </div>
            </div>
        </div>
        <div class="col p-3">
            <div class="card shadow border-5 rounded-3 text-center">
                <div class="card-body">
                    <h5 class="card-title">Find a Bookmark By Id</h5>
                    <input class="form-control" type="number" id="bkdFrId" name="bkdFrId"
                        placeholder="Bookmarked Freelancer Id" #bkdFrId>
                    <button class="btn btn-primary mt-2" (click)="findById(bkdFrId.value)">Find By Id</button>
                </div>
            </div>
        </div>
        <div class="col p-3">
            <div class="card shadow border-5 rounded-3 text-center">
                <div class="card-body">
                    <h5 class="card-title">List Bookmarks</h5>
                    <button class="btn btn-warning" routerLink="list">View List</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center mt-5">
        <div class="col-5"></div>
        <div class="col-2">
            <button class="btn btn-danger" (click)="goBack()">Go Back</button>
        </div>
        <div class="col-5"></div>
    </div>
    <hr>
    <router-outlet></router-outlet>
</div>