<div class="container-fluid overflow-hidden">
    <div class="row mt-4">
        <div class="col p-3">
            <div class="card text-center">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Bookmark a Freelancer</h5>
                    <button class="btn btn-success">Create Bookmark</button>
                </div>
            </div>
        </div>
        <div class="col p-3">
            <div class="card text-center">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Find a Bookmark By Id</h5>
                    <button class="btn btn-primary">Find By Id</button>
                </div>
            </div>
        </div>
        <div class="col p-3">
            <div class="card text-center">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">List Bookmarks By Skill</h5>
                    <button class="btn btn-warning">View List</button>
                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>